@media screen and (min-width:0px) and (max-width:576px){
    /* index.html */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #menu{ /* menu horizontal oculto */
        display: none;
    }
    .logo2{ 
        display: none;
    }

    .menuDesaparecer{
        display: none;
    }

    .subtitulo{
        display: none;
    }

    .header{
        height: auto;
    }

    div section h1{ /* temporada ss22 */
        display: none;
    }
    .textSeason{
        font-size: small;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-basis: 999;
        flex-grow: 1;
    }
    
    .textSeason p strong{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-basis: 0;
        flex-grow: 999;
        position: relative;
    }
    
    .row img{
        width: 8em;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        flex-basis: 0;
        flex-grow: 999;
    }

    .menu-responsive{
        display: flex;
    }

    .text{
        font-size: large;
    }
    .buttonContact{
        animation-name: fadeInLeftBig;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }
    .buttonContact a{
        font-size: large;
    }
    footer p strong{
        font-size: small;
    }
    /* productos.html */
    .img1{
        width: 150px;
    }
    .img2{
        width: 150px;
    }
    .img3{
        width: 150px;
    }
    .imgBotas{
        width: 150px;
    }
    .imgZapatos{
        width: 150px;
    }
    .grid-container h2{
        font-size: small;
    }
    .subtituloCatalogue{
        font-size: small;
        /* margin-top: 10px; */
        padding: 0px 5px;
        background-color: yellow;
        position: relative;
        float: inline-end;
        animation-name: fadeInLeftBig;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }
    .catalogue{
        margin-top: 10%;
    }
    .catalogueContain{
        font-size: medium;
        padding: 10px;
    }
    .catalogueContain:focus{
        background-color: rgba(114, 114, 4, 0.61);
    }
    .grid-container{
        height: 200px;
    }
    /* explorar.html */
    .subtitle{
        font-size: small;
        padding-left: 5px;
        position: relative;
        float: inline-start;
        animation-name: fadeInLeftBig;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }
    .text-area{
        margin-top: 20%;
    }
    .explorarContent{
        font-size: medium;
    }
    section h3{
        font-size: small;
    }
    .textFinal{
        font-size: medium;
    }
    /* locales.html */
    .locales{
        font-size: large;
        margin: 20px 0px;
        margin-top: 10px;
        margin-bottom: 30px;
        animation-name: fadeInLeftBig;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }
    .locales p{
        margin-right: 74%;
        margin-top: 2%;
    }
    .flexContainer .flexContainer__locales{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    iframe{
        width: 250px;
        height: 250px;
        border: 2px solid black;
    }
    .localAlcorta p{
        font-size: medium;
        border: 2px solid black;
    }
    .localPalermo p{
        font-size: medium;
        border: 2px solid black;
    }
    .iframePalermo{
        border: 2px solid black;
    }
    /* contactanos.html */
    .containForm{
        width: auto;
        animation-name: fadeInLeftBig;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }
    .tittleForm{ /* suscribite */
        font-size: medium;
        position: relative;
        float: center;
    }
    .contentForm{
        font-size: small;
    }
    .notificacionesDescuentos{
        font-size: small;
    }
    .buttonPress{
        font-size: small;
    }
    #textarea{
        font-size: small;
    }
}  




