* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  background-color: rgba(114, 114, 4, 0.61);
  width: auto;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex end;
      -ms-flex-pack: flex end;
          justify-content: flex end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 0%;
}

#menu li {
  background-color: white;
  margin: 5px;
  margin-top: 15%;
  border-radius: 2%;
}

#menu li a {
  font-family: "Besley", serif;
  color: black;
  padding: 5px;
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-decoration: none;
}

#menu li a:hover {
  background-color: white;
  -webkit-transition: height 2s, width 4s;
  transition: height 2s, width 4s;
}

#logo {
  width: 100px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.subtitulo .subtitulo__principal {
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  padding-top: 5%;
  padding: 1px;
  background-color: yellow;
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.subtitulo .subtitulo__secundario {
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  background-color: rgba(114, 114, 4, 0.61);
}

/* TEXTOS */
.textSeason {
  font-family: "Besley", serif;
  background-color: rgba(114, 114, 4, 0.61);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.textSeason p {
  position: relative;
  text-align-last: center;
}

.row img {
  display: block;
  margin: auto;
  margin-top: 2px;
}

/* CUADRO AMARILLO INDEX */
.footerDialogue .text-area__tittle {
  font-family: "Bebas Neue", cursive;
  margin: 30px;
  text-align: center;
}

.footerDialogue .text-area__text {
  background-color: yellow;
  text-align: center;
}

.footerDialogue .text-area__text h2 {
  font-family: "Bebas Neue", cursive;
}

.footerDialogue .text {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-size: 50px;
}

/* BUTTON CONTACT */
.buttonContact > a {
  font-family: "Bebas Neue", cursive;
  font-size: xx-large;
  text-align: left;
  background-color: rgba(114, 114, 4, 0.61);
  padding: 3px;
  border-radius: 2%;
  color: black;
  text-decoration: none;
}

/*PRODUCTOS */
.subtitulo__secundario h2 {
  background-color: rgba(114, 114, 4, 0.61);
}

.img {
  width: 300px;
  height: auto;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 2fr 2fr 2fr)[auto-fit];
      grid-template-columns: repeat(auto-fit, 1fr 2fr 2fr 2fr);
  -ms-grid-rows: repeat auto-fit, 3fr 3fr 3fr;
      grid-template-rows: repeat auto-fit, 3fr 3fr 3fr;
      grid-template-areas: "titulo1 productos1 productos2 productos3" "titulo2 productos4 productos5 productos6" "titulo3 productos7 productos8 productos9";
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 100px;
  position: relative;
}

.grid-container .grid-tittle p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo1;
  background-color: rgba(221, 221, 147, 0.61);
  text-align: center;
  margin: 0;
  padding: 5px;
  width: 100px;
  font-size: x-large;
  font-family: "Bebas Neue", cursive;
}

.grid-container .grid-item1 {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: productos1;
}

.grid-container .grid-item1 h3 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.grid-container .grid-item1 p {
  font-family: "Roboto", sans-serif;
}

.grid-container .grid-item2 {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: productos2;
}

.grid-container .grid-item2 h3 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.grid-container .grid-item2 p {
  font-family: "Roboto", sans-serif;
}

.grid-container .grid-item3 {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: productos3;
}

.grid-container .grid-item3 h3 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.grid-container .grid-item3 p {
  font-family: "Roboto", sans-serif;
}

.grid-container .grid-tittle p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: titulo2;
}

.grid-container .grid-item4 {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: productos4;
}

.grid-container .grid-item4 h3 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.grid-container .grid-item4 p {
  font-family: "Roboto", sans-serif;
}

.grid-container .grid-item5 {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: productos5;
}

.grid-container .grid-item5 h3 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.grid-container .grid-item5 p {
  font-family: "Roboto", sans-serif;
}

.grid-container .grid-item6 {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: productos6;
}

.grid-container .grid-item6 h3 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.grid-container .grid-item6 p {
  font-family: "Roboto", sans-serif;
}

.grid-container .grid-tittle p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: titulo3;
}

.grid-container .grid-item7 {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: productos7;
}

.grid-container .grid-item7 h3 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.grid-container .grid-item7 p {
  font-family: "Roboto", sans-serif;
}

.grid-container .grid-item8 {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: productos8;
}

.grid-container .grid-item8 h3 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.grid-container .grid-item8 p {
  font-family: "Roboto", sans-serif;
}

.grid-container .grid-item9 {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: productos9;
}

.grid-container .grid-item9 h3 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.grid-container .grid-item9 p {
  font-family: "Roboto", sans-serif;
}

/* EXPLORAR */
.text-area {
  background-color: yellow;
  font-family: "Bebas Neue", cursive;
  font-size: large;
  background-color: yellow;
  width: 500px;
  height: auto;
  padding: 20px;
  margin: 50px auto;
}

.text-area .explorarContent {
  text-align: center;
  letter-spacing: 1px;
  display: inline;
}

.textFinal {
  font-family: 'Besley', serif;
  text-align: center;
  font-size: large;
}

.textFinal p {
  font-size: x-large;
}

/* LOCALES */
.dondeEncontrarnos {
  font-family: "Bebas Neue", cursive;
  background-color: rgba(114, 114, 4, 0.61);
  font-size: x-large;
}

.gridContainer__locales {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 4fr 4fr;
      grid-template-columns: 3fr 4fr 4fr;
  -ms-grid-rows: 2fr 2fr;
      grid-template-rows: 2fr 2fr;
      grid-template-areas: "local1 info1 info2" "local2 info3 .";
}

.gridContainer__locales .locales {
  font-family: 'Bebas Neue', cursive;
  font-size: xx-large;
  padding: 20px auto;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: yellow;
  width: auto;
}

.gridContainer__locales .gridItem__localAlcorta {
  background-color: white;
  margin: 50px auto;
  padding: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: local1;
}

.gridContainer__locales .gridItem__localAlcorta p {
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
  background-color: yellow;
  width: 120px;
  height: auto;
  padding: 1px;
  text-align: center;
}

.gridContainer__locales .gridItem__localPalermo {
  background-color: white;
  margin: 50px auto;
  padding: 10px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: local2;
}

.gridContainer__locales .gridItem__localPalermo p {
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
  background-color: yellow;
  width: 120px;
  height: auto;
  padding: 1px;
  text-align: center;
  float: top right;
}

.gridContainer__locales .gridItem__direcciones {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info1;
  font-family: "Bebas Neue", cursive;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gridContainer__locales .gridItem__direcciones p {
  font-size: large;
}

.gridContainer__locales .gridItem__direcciones2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: info3;
  font-family: "Bebas Neue", cursive;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gridContainer__locales .gridItem__direcciones2 p {
  font-size: large;
}

.gridContainer__locales .gridItem__horarios {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: info2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-color: black;
  color: white;
  padding: 10px;
  font-family: "Bebas Neue", cursive;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: x-large;
}

/* CONTACTANOS */
.containForm {
  background-color: beige;
  width: 600px;
  height: auto;
  border: 1px solid black;
  padding: 10px;
  margin: 90px 20px;
}

.containForm .tittleForm {
  font-family: 'Bebas Neue', cursive;
  font-size: xx-large;
  text-align-last: left;
  background-color: beige;
  border: 1px solid black;
  position: relative;
  left: 5px;
  top: 5px;
  bottom: 10px;
}

.containForm .contentForm {
  font-family: 'Besley', serif;
  font-size: small;
  text-align: left;
}

.containForm .notificacionesDescuentos {
  background-color: beige;
  margin: 10px 0px 5px;
}

.containForm .notificacionesDescuentos {
  background-color: beige;
  margin: 10px 0px 5px;
}

/* OBJETOS A DESAPARECER DE DESKTOP */
.subtitulo__verticalMain {
  display: none;
}

#navbar-toggle {
  display: none;
}

.menu-responsive {
  display: none;
}

/* CARROUSEL INDEX */
h5 {
  background-color: yellow;
  padding: 5px;
  color: black;
}

.carousel-item {
  max-height: 500px;
  max-width: auto;
  background-image: url(../multimedia/sandaliasblancas.jpg);
  background-repeat: repeat;
}

/* MEDIAQUERIE */
@media screen and (min-width: 50px) and (max-width: 760px) {
  /* index.html */
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #menu {
    /* objetos desaparecidos de desktop */
    display: none;
  }
  .menuDesaparecer {
    display: none;
  }
  .subtitulo {
    display: none;
  }
  #logo {
    display: none;
  }
  .header {
    height: auto;
    width: auto;
  }
  div section h1 {
    /* temporada ss22 */
    display: none;
  }
  .newSeason .textSeason {
    font-size: small;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: 999;
        flex-basis: 999;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .newSeason .textSeason .textSeason p strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 999;
        -ms-flex-positive: 999;
            flex-grow: 999;
    position: relative;
  }
  .row img {
    width: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 999;
        -ms-flex-positive: 999;
            flex-grow: 999;
  }
  .menu-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .text {
    font-size: large;
  }
  .buttonContact {
    -webkit-animation-name: fadeInLeftBig;
            animation-name: fadeInLeftBig;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  .buttonContact .buttonContact a {
    font-size: large;
  }
  /* PRODUCTOS.HTML */
  .img {
    width: 150px;
  }
  .grid-container {
    margin-top: 40%;
  }
  .grid-container .grid-tittle {
    font-size: small;
    padding: 0px 5px;
    position: relative;
    float: inline-end;
    -webkit-animation-name: fadeInLeftBig;
            animation-name: fadeInLeftBig;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  .grid-container .grid-tittle p {
    position: relative;
  }
  .img h3 {
    font-size: small;
  }
  /* explorar.html */
  .text-area {
    margin-top: 20%;
  }
  .text-area .explorarContent {
    font-size: medium;
  }
  .textFinal {
    font-size: medium;
  }
  .textFinal h3 {
    font-size: small;
  }
  .textFinal p {
    font-size: small;
  }
  /* locales.html */
  .dondeEncontrarnos {
    font-size: large;
    margin: 20px 0px;
    margin-top: 10px;
    margin-bottom: 30px;
    -webkit-animation-name: fadeInLeftBig;
            animation-name: fadeInLeftBig;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  .dondeEncontrarnos p {
    margin-right: 74%;
    margin-top: 2%;
  }
  .gridContainer__locales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  iframe {
    width: 250px;
    height: 250px;
    border: 2px solid black;
  }
  .localAlcorta p {
    font-size: medium;
    border: 2px solid black;
  }
  .localPalermo p {
    font-size: medium;
    border: 2px solid black;
  }
  .iframePalermo {
    border: 2px solid black;
  }
  /* contactanos.html */
  .containForm {
    width: auto;
    -webkit-animation-name: fadeInLeftBig;
            animation-name: fadeInLeftBig;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  .containForm .tittleForm {
    /* suscribite */
    font-size: medium;
    position: relative;
    float: center;
  }
  .containForm .contentForm {
    font-size: small;
  }
  .containForm .notificacionesDescuentos {
    font-size: small;
  }
  .containForm .buttonPress {
    font-size: small;
  }
  .containForm #textarea {
    font-size: small;
  }
}
/*# sourceMappingURL=style.css.map */