/* index.html */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */


.flexContainer{
    display: flex;
}
.header{
    background-color: rgba(114, 114, 4, 0.61);
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: left;
    animation-name: fadeInLeftBig;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    /* position: relative;
    top: 10px;
    left: 10px;
    bottom: 20px; */
}
 
.subtitulo{ /* MAKING SHOES */
    font-family: 'Bebas Neue', cursive;
    font-size: medium;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0px 10px;
    background-color: yellow;
    animation-name: fadeInLeftBig;
    animation-duration: 1s;
    animation-iteration-count: 1;
    /* background-position: top center;
    text-align: left; */
    /* position: relative;
    top: 10px;
    left: 10px; */
}
.subtitulo__verticalMain{
    display: none;
}

#navbar-toggle{
    display: none;
}

ul{ /* nav menu */
    list-style: none;
    display: flex;
}

#menu{
    display: flex;
    justify-content: flex end;
    align-items: flex-end;
    margin-bottom: 0%;
    /* margin: 10px 5px;
    padding: 5px;
    position: relative;
    top: 5px; */
}

#menu li{
    background-color: white;
    /* padding: 2px; */
    margin: 5px;
    margin-top: 15%;
    border-radius: 2%;
}

#menu li a{
    font-family: 'Besley', serif;
    color: black;
    padding: 5px;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-decoration: none;
}
 #menu li a:hover{
     background-color: white;
     transition: height 2s, width 4s;
 }

.menuVertical{
    display: none;
}
#main-container{  
    margin: 10px 10px 10px 10px;
    background-color:rgba(114, 114, 4, 0.61);
    height: 400px;
    background-image: url(../multimedia/borcegosbajos.png);
    background-image: url(../multimedia/borcegoscharol.png);
    background-repeat: repeat;
    background-position: bottom center;

}
div section h1{ /* temporada ss22 */
    font-family: 'Besley', serif;
    color: rgba(51, 51, 3, 0.986);
    position: relative;
    top: 10px;
    left: 10px;
}
 
.textSeason{
    font-family: 'Besley', serif;
    background-color: rgba(114, 114, 4, 0.61);
    padding: 10px;
    display: block;
    position: relative;
}

section p{
    position: relative;
    text-align-last: center;
}

.contenedorImages{
    background-color:white;
    margin-left: 15%;
    max-width: 50px;
    min-width: 50px;
    display: inline;
}

.imagen{
    width: 250px;
    height: 250px;
    margin: 0px 10px;
    padding: 0px 20px;
    float: center;
}

.text-area__tittle{
    font-family: 'Bebas Neue', cursive;
    margin: 30px;
    text-align: center;
}

.text-area__text{
    background-color: yellow;
    text-align: center;
}

div h2{
    font-family: 'Bebas Neue', cursive;
}

.text{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 50px;
}

.buttonContact>a{
    font-family: 'Bebas Neue', cursive; 
    font-size: xx-large;
    text-align: left;
    background-color:rgb(114, 114, 4);
    padding: 3px;
    border-radius: 2%;
    color: black;
    text-decoration: none;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: black;
    animation-name: fadeInLeftBig;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

/* productos.html */
/* box-model */
/* grid */

.grid-container{
    padding: 30px;
    background-color:white;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 5%;
    grid: column gap 20px; 
}

div section img{
    width: 200px;
    height: auto;
}

.subtituloCatalogue{
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    margin-top: 10px;
    padding: 0px 10px;
    background-color: yellow;
}
.catalogue{
    width: 200px;
    height:auto;
    background-color:rgba(114, 114, 4, 0.61);
}

.catalogueContain{
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    padding: 10px 10px;
    margin: 10px 10px;
    align-items: center;
}

/* explorar.hmtl */

.subtitle{
    background-color: yellow;
    width: 100%;
    height: auto;
    font-size: x-large;
    margin-top: 10px;
    /* margin: 20px 10px; */
}

.text-area{
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    background-color: yellow;
    width: 500px;
    height: auto;
    padding: 20px;
    margin: 50px auto;
}
.explorarContent{
    text-align: center;
    letter-spacing: 1px;
    display: inline;
}

section h3{
    font-family: 'Besley', serif;
    text-align: center;
    font-size: medium;
}

section h3 p{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: xx-large;
}

/* locales.html */

.flexContainer .flexContainer__locales{
    justify-content: space-around;
}

.locales{
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    padding: 20px auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: yellow;
    width: auto;
}

.localAlcorta{
    background-color: white;
    margin: 50px auto;
    padding: 10px;
}

.localPalermo{
    background-color: white;
    margin: 50px auto;
    padding: 10px;
}
.localAlcorta p{
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    background-color: yellow;
    width: 120px;
    height: auto;
    padding: 1px;
    text-align: center;
}

.localPalermo p{
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    background-color: yellow;
    width: 120px;
    height: auto;
    padding: 1px;
    text-align: center;
    float: top right;
}

/* contactanos.html */

.containForm{
    background-color: beige;
    width: 600px;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    margin: 90px 20px;

}
.tittleForm{
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    text-align-last: left;
    background-color: beige;
    border: 1px solid black;
    position: relative;
    left: 5px;
    top: 5px;
    bottom: 10px;
}

.contentForm{
    font-family: 'Besley', serif;
    font-size: small;
    text-align: left;
}

.notificacionesDescuentos{
    background-color: beige;
    margin: 10px 0px 5px;
}
.buttonPress{
    background-color: white;
    border-style: inherit;
    padding: 1px;
}




