* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container .header {
  background-color: rgba(114, 114, 4, 0.61);
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container .header __#logo {
  width: 100px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.flex-container .header __#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex end;
      -ms-flex-pack: flex end;
          justify-content: flex end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 0%;
}

.flex-container .header __#menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container .header __#menu li {
  background-color: white;
  margin: 5px;
  margin-top: 15%;
  border-radius: 2%;
}

.flex-container .header __#menu li a {
  font-family: "Besley", serif color black;
  padding: 5px;
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-decoration: none;
}

.flex-container .header __#menu li a a:hover {
  background-color: white;
  -webkit-transition: height 2s, width 4s;
  transition: height 2s, width 4s;
}

.subtitulo .subtitulo__principal {
  font-family: "Bebas Neue", cursive, medium;
  font-size: medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0px 10px;
  background-color: yellow animation-name fadeInLeftBig;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.subtitulo .subtitulo__secundario {
  font-family: "Bebas Neue", cursive, medium;
  font-size: medium;
  padding: 2px;
  margin-top: 2%;
  margin-left: 0.5%;
}

/* OCULTO ETIQUETAS QUEN SON PARA RESPONSIVE */
.menu-responsive {
  display: none;
}

.subtitulo__verticalMain {
  display: none;
}

.navbar-toggle {
  display: none;
}

/* TEXTOS */
.newSeason__.textSeason {
  font-family: "Besley", serif;
  background-color: rgba(114, 114, 4, 0.61);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.newSeason .newSeason__.textSeason p {
  position: relative;
  text-align-last: center;
}

.newSeason .newSeason__.contentSeason .row img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* CUADRO AMARILLO INDEX */
.footerDialogue .text-area__tittle {
  font-family: "Bebas Neue", cursive, medium;
  margin: 30px;
  text-align: center;
}

.footerDialogue .text-area__text {
  background-color: yellow;
  text-align: center;
}

.footerDialogue .text-area__text h2 {
  font-family: "Bebas Neue", cursive, medium;
}

.footerDialogue .text {
  font-family: "Bebas Neue", cursive, medium;
  text-align: center;
  font-size: 50px;
}
/*# sourceMappingURL=style.css.map */