@import "vars";

.carouselContainer{
    .carousel-inner{
        height: auto;
    }
    .carousel-item{
        max-height: 400px;
        max-width: auto;
        background-image: url(../multimedia/fondocarousel.jpg);
        background-repeat: repeat;
        img{
            max-width: 20%;
            display:block;
            margin:auto;
        }
    }
}