@import "vars";

/* EXPLORAR */

.text-area{
    background-color: $colorMakingShoes;
    font-family: $subtitulos;
    font-size: large;
    background-color: yellow;
    width: 500px;
    height: auto;
    padding: 20px;
    margin: 50px auto;
    .explorarContent{
        text-align: center;
        letter-spacing: 1px;
        display: inline;
    }
}

.textFinal{
    font-family: 'Besley', serif;
    text-align: center;
    font-size: large;
    p{
        font-size: x-large;
    }
}