@import "vars"; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex-container{ 
    display: flex;
    .header{
            background-color: $colorPrincipal;
            width: 100%;
            height: 60px * 2;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        __#logo{
                width: 10px * 10;
                height: auto;
                border-radius: 10px;
                margin: 10px;
                display: flex;
                justify-content: left;
                animation-name: fadeInLeftBig;
                animation-duration: 0.5s;
                animation-iteration-count: 1;
            }//MENU
        __#menu{
            display: flex;
            justify-content: flex end;
            align-items: flex-end;
            margin-bottom: 0%;
                ul{
                    list-style: none;
                    display: flex;
                }                   
                    li{
                    background-color: white;
                    margin: 5px;
                    margin-top: 15%;
                    border-radius: 2%;
                        a{
                            font-family: $subtitulosBesley
                            color black;
                            padding: 5px;
                            width: 10px;
                            height: 10px;
                            margin-bottom: 10px;
                            letter-spacing: 1px;
                            text-decoration: none;
                            a:hover{
                                background-color: white;
                                transition: height 2s, width 4s;
                            }
                        }
                    }
                }
       }
}

/* SUBTITULOS */
.subtitulo{ 
    .subtitulo__principal{ 
        font-family: $subtitulos;
        font-size: $subtitulosSize;
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0px 10px;
        background-color: $colorMakingShoes
        animation-name fadeInLeftBig;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
}


/* OCULTO ETIQUETAS QUEN SON PARA RESPONSIVE */
.menu-responsive{
    display: none;
}

.subtitulo__verticalMain{
    display: none;
}

.navbar-toggle{
    display: none;
}