@import "vars";

/* LOCALES */

.dondeEncontrarnos{
    font-family: $subtitulos;
    background-color: $colorPrincipal;
    font-size: x-large;
}

.gridContainer__locales{
    display: grid;
    grid-template-columns: 3fr 4fr 4fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
    "local1 info1 info2"
    "local2 info3 .";
    .locales{
        font-family: 'Bebas Neue', cursive;
        font-size: xx-large;
        padding: 20px auto;
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: yellow;
        width: auto;
    }
    .gridItem__localAlcorta{
        background-color: white;
        margin: 50px auto;
        padding: 10px;
        grid-area: local1;
        p{
            font-family: 'Bebas Neue', cursive;
            font-size: x-large;
            background-color: yellow;
            width: 120px;
            height: auto;
            padding: 1px;
            text-align: center;
        }
    }
    .gridItem__localPalermo{
        background-color: white;
        margin: 50px auto;
        padding: 10px;
        grid-area: local2;
        p{
            font-family: 'Bebas Neue', cursive;
            font-size: x-large;
            background-color: yellow;
            width: 120px;
            height: auto;
            padding: 1px;
            text-align: center;
            float: top right;
        }
    }
    .gridItem__direcciones{
        grid-area: info1;
        font-family: $subtitulos;
        justify-self: center;
        align-self: center;
        p{
            font-size: large;
        }
    }
    .gridItem__direcciones2{
        grid-area: info3;
        font-family: $subtitulos;
        justify-self: center;
        align-self: center;
        p{
            font-size: large;
        }
    }
    .gridItem__horarios{
        grid-area: info2;
        grid-row: 1/3;
        background-color: black;
        color:white;
        padding: 10px;
        font-family: $subtitulos;
        justify-self: center;
        align-self: center;
        font-size: x-large;
    }
}