@import "vars";

.subtitulo{ 
    .subtitulo__principal{ 
        font-family: $subtitulos;
        font-size: $subtitulosSize;
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0px 10px;
        background-color: $colorMakingShoes
        animation-name fadeInLeftBig;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
    .subtitulo__secundario{
        font-family: $subtitulos;
        font-size: $subtitulosSize;
        padding: 2px;
        margin-top: 2%;
        margin-left: 0.5%;
    }
}

