@import "vars"; 

/* TEXTOS */

.textSeason{
    font-family: $subtitulosBesley;
    background-color: $colorPrincipal;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    p{
        position: relative;
        text-align-last: center;
    }
}

.row{
    img{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
}