//colores
$colorPrincipal: rgba(114, 114, 4, 0.61);
$colorMakingShoes: yellow;
//estilos de subtitulos (MakingShoes y el resto)
$subtitulos: 'Bebas Neue', cursive, medium;
$subtitulosSize: medium;

//otros estilos de letras
//este va para text seasion y mayoria en parte locales
$subtitulosBesley: 'Besley', serif;