//colores
$colorPrincipal: rgba(114, 114, 4, 0.61);
$colorMakingShoes: yellow;
$colorGridtittle: rgba(221, 221, 147, 0.61);
//estilos de subtitulos (MakingShoes y el resto)
$fontProductos: 'Roboto', sans-serif;
$subtitulos: 'Bebas Neue', cursive; //este tambien va para cuadro amarillo
$subtitulosSize: medium;

//otros estilos de letras
//este va para text seasion y mayoria en parte locales
$subtitulosBesley: 'Besley', serif;

