@import "vars";
@import "header";
@import "logo";
@import "subtitulos";
@import "textos";
@import "thoughasyou";
@import "productos";
@import "explorar";
@import "locales";
@import "contactanos";
@import "mediaqueries";




/* OBJETOS A DESAPARECER DE DESKTOP */
.subtitulo__verticalMain{
    display: none;
}

#navbar-toggle{
    display: none;
}

.menu-responsive{
    display: none;
}
           
/* CARROUSEL INDEX */

h5{
    background-color: $colorMakingShoes;
    padding: 5px;
    color: black;
}

.carousel-item{
    max-height: 500px;
    max-width: auto;
    background-image: url(../multimedia/sandaliasblancas.jpg);
    background-repeat: repeat;
}



