@import "vars";
@import "header";
@import "logo";
@import "subtitulos";
@import "textos";
@import "thoughasyou";
@import "productos";
@import "explorar";

/* OBJETOS A DESAPARECER DE DESKTOP */
.subtitulo__verticalMain{
    display: none;
}

#navbar-toggle{
    display: none;
}

.menu-responsive{
    display: none;
}
           



