@import "vars";
@import "header";
@import "logo";
@import "subtitulos";
@import "textos";
@import "thoughasyou";
@import "productos";
@import "explorar";
@import "locales";
@import "contactanos";
@import "carousel";

/* OBJETOS A DESAPARECER DE DESKTOP */
.subtitulo__verticalMain{
    display: none;
}

#navbar-toggle{
    display: none;
}

.menu-responsive{
    display: none;
}
           
/* CARROUSEL INDEX */

h5{
    background-color: $colorMakingShoes;
    padding: 5px;
    color: black;
}

/* MEDIAQUERIE */

@media screen and (min-width:50px) and (max-width:760px){
    /* index.html */
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #menu{ /* objetos desaparecidos de desktop */
        display: none;
    }

    .menuDesaparecer{
        display: none;
    }

    .subtitulo{
        display: none;
    }

    #logo{
        display: none;
    }

    .header{
        height: auto;
        width: auto;
    }

    div section h1{ /* temporada ss22 */
        display: none;
    }

    .menu-responsive{
        display: flex;
    }

    .carouselContainer{
        .carousel-inner{
            height: 300px;
        }
        .carousel-item{
            max-height: 100%;
            img{
                max-width: 50%;
            }
        }
    }

    .newSeason{ 
        .textSeason{
            font-size: small;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            flex-basis: 999;
            flex-grow: 1;
            .textSeason p strong{
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                flex-basis: 0;
                flex-grow: 999;
                position: relative;
            }
        }
    }
    .row img{
        width: 8em;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        flex-basis: 0;
        flex-grow: 999;
    }

    .footerDialogue{
        .text-area__text{
            h2{
                font-size: x-large;
            }
            .text{
                font-size: medium;
            }
        }
    }
   
    .buttonContact{
        animation-name: fadeInLeftBig;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        a{
            font-size: small;
        }
    }

    /* PRODUCTOS.HTML */
    
    .grid-container{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: flex-start;
        .grid-tittle{
            font-size: small;
            margin-top: 5%;
            padding: 0px 5px;
            display: flex;
            align-items: flex-start;
            animation-name: fadeInLeftBig;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            p{
                position: relative;
            }
        }
            .grid-item1{
                align-items: stretch;
                .img{
                    width: 150px;
                    height: auto;
                }
                h3{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
            .grid-item2{
                align-items: stretch;
                .img{
                    width: 150px;
                    height: auto;
                }
                h3{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
            .grid-item3{
                align-items: stretch;
                .img{
                    width: 150px;
                    height: auto;
                }
                h3{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
            .grid-item4{
                align-items: stretch;
                .img{
                    width: 150px;
                    height: auto;
                }
                h3{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
            .grid-item5{
                align-items: stretch;
                .img{
                    width: 150px;
                    height: auto;
                }
                h3{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
            .grid-item6{
                align-items: stretch;
                .img{
                    width: 150px;
                    height: auto;
                }
                h3{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
            .grid-item6{
                align-items: stretch;
                .img{
                    width: 150px;
                    height: auto;
                }
                h3{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
            .grid-item7{
                align-items: stretch;
                .img{
                    width: 150px;
                    height: auto;
                }
                h3{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
            .grid-item8{
                align-items: stretch;
                .img{
                    width: 150px;
                    height: auto;
                }
                h3{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
            .grid-item9{
                align-items: stretch;
                .img{
                    width: 150px;
                    height: auto;
                }
                h3{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
    }

    .img h3{
        font-size: small;
    }

    /* explorar.html */
  
    .text-area{
        margin-top: 20%;
        padding: 60px;
        .explorarContent{
            justify-items: center;
            align-items: center;
            text-align: center;
            font-size: medium;
        }
    }

    .textFinal{
        font-size: medium;
        h3{
            font-size: small;
            justify-items: center;
            align-items: center;
            text-align: center;
        }
        p{
            font-size: small;
            justify-items: center;
            align-items: center;
            text-align: center;
        }
    }
 
    /* locales.html */
    .dondeEncontrarnos{
        font-size: large;
        margin: 20px 0px;
        margin-top: 10px;
        margin-bottom: 30px;
        animation-name: fadeInLeftBig;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }
    .dondeEncontrarnos p{
        margin-right: 74%;
        margin-top: 2%;
    }
    .gridContainer__locales{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    iframe{
        width: 250px;
        height: 250px;
        border: 2px solid black;
    }
    .localAlcorta p{
        font-size: medium;
        border: 2px solid black;
    }
    .localPalermo p{
        font-size: medium;
        border: 2px solid black;
    }
    .iframePalermo{
        border: 2px solid black;
    }
    /* contactanos.html */
    .containForm{
        width: auto;
        animation-name: fadeInLeftBig;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        .tittleForm{ /* suscribite */
            font-size: medium;
            position: relative;
            float: center;
        }
        .contentForm{
            font-size: small;
        }
        .notificacionesDescuentos{
            font-size: small;
        }
        .buttonPress{
            font-size: small;
        }
        #textarea{
            font-size: small;
        }
    }
    }



